<%-include("partials/header")-%>
<h1>Compose</h1>
<form action="/compose"class="form-group"method="post">
    <label>Title</label>
    <textarea name="input" cols="150" rows="1"type="text"></textarea>
<label>Post</label>
<textarea name="essay" cols="150" rows="10"type="text"></textarea>
<button type="Submit"name="button"value="push" class="btn btm-primary">Publish</button>
</form>
<%-include("partials/footer")-%>